:root{
    --blanco: #ffffffff;
    --negro: #252525;
    --azul: #001D68;
    --rojo: #D21034;
    --gris: #757575;
}

html{
    font: 62.5%;
} 

body{
    
    font-size: 16px; /*1 rem= 10px*/
    font-family:'Times New Roman', Times, serif;
    background-image: url(../image/fondo1.jpg);
    background-size: cover;
    

}

.formulario{
   background-color: var(--blanco);
    background-size: cover;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;

}

.btnConfirmar{
    background-color: #001D68;
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    min-height:30px; 
    min-width: 120px;
}
