:root{
    --blanco: #ffffffff;
    --negro: #252525;
    --azul: #001D68;
    --rojo: #D21034;
    --gris: #757575;
}

html{
    font: 62.5%;
    box-sizing: border-box;
} 
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    
    font-size: 16px; /*1 rem= 10px*/
    font-family:'Times New Roman', Times, serif;

}
main{
    background-color: gainsboro;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;

}

.formulario{
    background-color: var(--blanco);
     background-size: cover;
     border: none;
     border-radius: 10px;
     min-height: 140px; 
     min-width: 480px;
     font-weight: 700;
     padding-top: 40px;
     padding-left: 100px;
     padding-right: 100px;
     padding-bottom: 60px;
     font-size: 1.5rem;
     
 }

 .formulario input[type="text"],
 .formulario input[type="password"]{
    width: 100%;
 }
 
 
.centerlogin{
    text-align: center;
}

.btnConfirmar{
    background-color: #001D68;
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.enviar .btnConfirmar{
    width: 100%;
}

@media (min-width: 480px) {
    .btnConfirmar{
        width: 300px;

    }
    }
@media (min-width: 1140px) {
    .btnConfirmar{
        width: 440px;
    }
    
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        

    }
}

.navegacion-principal a{
    display:block;
    text-align: center;
    color: var(--gris);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.navegacion-principal  a:hover{
background-color: var(--gris);
color: var(--blanco)
}

.hero{ /*index*/
    background-image: url(../image/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    padding-top: 60px;
    padding-bottom: 320px;
    padding-right: 350px;
    padding-left:350px;

}

/*Contenedores de home*/

.contenedorheader{
    display: flex;
}

.contenedorheader .titulo{
    width: 1056px;
    text-align:left;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size: 2rem;
}

.contenedornav{
    width: 1056px;
    text-align:center;
   padding-top: 40px;
    font-size: 2rem;
}


.contenedorbarrahome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
    height: 60px;
    align-items: center;
    margin-bottom: 10px;
      
}

.contenedorbarrahome .buscar {
    display: flex;
    justify-content: left;
    padding-left: 4.8rem;
    font-size: 20px;
    padding-top: 2rem;
}

.contenedorbarrahome .filtrar{
    display: flex;
    justify-content: right;
    padding-right: 3rem;
    font-size: 20px;
    padding-top: 2rem;

}

/*Contenedor recursos en home*/
@media (min-width: 1140px) {
    
    .recursos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        column-gap: 20px;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    }

.contenedorrecursos{
    height: 100%;
    background-color: gainsboro;
    
    }   

.recursos .imgrecurso1{
    height: 197px;
    width: 341px;
    background-image: url(../image/recurso1.jpg);
    background-size: cover;
    }

.recursos .imgrecurso2{
    height: 197px;
    width: 341px;
    background-image: url(../image/recurso2.jpg);
    background-size: cover;
    justify-content: center;
   }

.recursos .imgrecurso3{
    height: 197px;
    width: 341px;
    background-image: url(../image/recurso3.jpg);
    background-size: cover;
    justify-content: center;
   }

   .recursos .centerimagen{
    display: flex;
    justify-content:center;
    align-items: center;
}

.recursos .titulo {
    height: 77px;
    width: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
 
}
.recursos .centertitulo{
    display: flex;
    justify-content:center;
    align-items: center;
}

.recursos .boton{
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 40px;
}

.recursos .centerboton{
    display: flex;
    justify-content:center;
    align-items: center;
}

/*Contenedor recurso 1*/

@media (min-width: 1140px) {
    
    .recursos1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 20px;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
    }
    }


.recursos1 .imgrecursos1_1{
    height: 325px;
    width: 334px;
    background-image: url(../image/recurso1_1.png);
    background-size: cover;
    }

    .recursos1 .centerimagen{
        display: flex;
        justify-content:center;
        align-items: center;
    }

/*Contenedor recurso 1_2*/

@media (min-width: 1140px) {
    
    .recursos1_2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 20px;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
    }
    }


.recursos1_2 .imgrecursos1_2{
    height: 325px;
    width: 334px;
    background-image: url(../image/recurso1_2.jpg);
    background-size: cover;
    }

    .recursos1_2 .centerimagen{
        display: flex;
        justify-content:center;
        align-items: center;
    }

.notificaciones{
    display: inline-block;
    position: relative;
}

.notificaciones button{
    border: none;
    height: 25px;
    width: 25px;
    background-image: url(../image/bell.png);
    background-size: cover;
    
}

.notifcont{
    display: none;
    position:absolute;
    top: 2.3rem;
    right: -2rem;
    width: 302px;
    overflow: auto;
    background-color: ghostwhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    padding-left: 5px;
}

.notificaciones:hover .notifcont{
    display: block;
}

.notifcont a{
    display: block;
    color: var(--negro);
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}

.notifcont a:hover {
    color:var(--negro);
    background-color: rgb(240, 240, 240);
}

.vernotif{
    display: inherit;
    font-size: 1rem;
    color:var(--azul);
    text-align: right;
    padding-right: 5px;
}

@media (min-width: 1140px) {
    
    .gridhorarios{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 5px;
        background-color: rgb(158, 158, 158);
        padding-top: 5px;
        padding-bottom: 1rem;
    }

     .gridhorarios label{
            background-color: gainsboro;
            padding-bottom: 1rem;
        }

        .gridhorarios p{
            background-color: gainsboro;
            margin: 0;
        }
    }

@media (min-width: 1140px) {
    
    .cont-estudiantes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 5px;
        row-gap: 5px;
        background-color: rgb(158, 158, 158);
        text-align: center;
     
    }

    .gridhorarios label{
        background-color: gainsboro;
        margin: 0;
    }
    }

@media (min-width: 1140px) {
    
        .cont-horarios{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 5px;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 5px;
            background-color: rgb(158, 158, 158);
            text-align: center;
            column-gap: 5px;
            padding-top: 5px;
        }

        .cont-horarios label{
            background-color: gainsboro;
        }

        .cont-horarios p{
            background-color: gainsboro;
            margin: 0;
        }
}  


#h_rentado{
    background-color: rgb(91, 242, 91);
}

#h_regresar{
    background-color: rgb(255, 110, 110);
}

/*Contenedor ayuda*/
.ayuda{
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: right;
}

.ayuda button{
    border: none;
    height: 25px;
    width: 25px;
    background-image: url(../image/help.png);
    background-size: cover;
}

.ayudacont{
    display: none;
    position:absolute;
    bottom: 2rem;
    right: 2rem;
    width: 302px;
    overflow: auto;
    background-color: rgba(26, 26, 130, 0.837);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    padding-left: 5px;
}

.ayuda:hover .ayudacont{
    display: block;
}

.ayudacont p{
    display: block;
    color: var(--blanco);
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}
.ayudacont label{
    display: block;
    color: var(--blanco);
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}

