:root{
    --blanco: #ffffffff;
    --oscuro: #252525;
    --primario: #001D68;
    --secundario: #D21034;
    --gris: #757575;
}

html{
    font: 62.5%;
} 

body{
    font-size: 16px; /*1 rem= 10px*/
    font-family:'Times New Roman', Times, serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;

}